extends layout
include mixins/helpers.pug

block content 
  br

  p Test an OAuth flow using the button(s) below:

  form(method="get" action="/login?flow=code")
        button(type="submit") Authorization Code


  form(method="get" action="http://google.com")
      button(type="submit") Google.com (HTTP)